.footerParentDiv {
    width: 100vw;
    
  }
  .footerParentDiv .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ebeeef;
    padding: 16px;
  }
  .footerParentDiv .content .heading {
    font-size: 24px;
    font-weight: bolder;
  }
  
  .footerParentDiv .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #002f34;
    color: whitesmoke;
    height: 40px;
  }
  
  .footerParentDiv .footer p {
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.85rem;
}

.list{
  color: #002F34A3;
  font-size: 0.85rem;
  
}

ul{
  list-style-type: none;
}

.icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.follow{
  font-size: 15px;
  font-weight: bolder;
  padding-bottom: 41px;
}

.dwnld{
  display: flex;
  gap: 15px;
}